# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules


# production
/build
/dist/

# misc
.DS_Store
*.pem
.vscode

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# standard next.js env config files that we don't want to include since we're using kustomize for env-specific config
.env
.env.development
.env.production

# IntelliJ
.idea